.imgContainer {
  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__imgContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
