.inputText {
  position: relative;
  display: flex;
  flex-direction: column;
  @include resize(width, 100%);
  @include resize(gap, 4);

  &:has(.inputText__element[disabled]) {
    pointer-events: none;
    .inputText {
      &__element {
        @include Body1;
        font-weight: 400;
        color: $color-gray-300;
        background: $color-gray-800;
        border: 1px solid $color-gray-800;
        &::placeholder {
          @include Body1;
          font-weight: 400;
          color: $color-gray-300;
        }
      }
    }
  }

  &__label {
    @include Body1;
    font-weight: 400;
    color: $color-gray-100;
  }

  &__element {
    @include resize(width, 100%);
    @include resize(height, 40);
    @include Body1;
    color: $color-gray-100;
    font-weight: 400;
    background: #F8FCFF;
    border: 1px solid $color-gray-700;
    @include resize(padding-block, 8);
    @include resize(padding-inline, 16);

    &:hover {
      border-color: $color-gray-300;
    }

    /* Keyboard focus */
    &:focus-visible {
      outline: 2px solid $color-primary-200;
      outline-offset: 2px;
      border-color: $color-gray-700; // evita conflito com o focus-within
    }

    /* Mouse focus */
    // &:focus-within {
    //   border-color: $color-primary-200;
    //   outline: none;
    // }
  }

  &__helpContainer {
    display: flex;
    align-items: center;
    @include resize(gap, 4);
  }

  &__helpIcon {
    display: block;
    object-fit: cover;
    object-position: center;
    @include resize(width, 16);
    @include resize(height, 16);
  }

  &__helpText {
    @include Body1;
    font-weight: 400;
    color: $color-secondary-200;
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
  }

  &--invalid {
    .inputText {
      &__element {
        @include Body1;
        font-weight: 400;
        border-color: $color-secondary-200;

        &::placeholder {
          color: $color-secondary-200;
        }
      }
    }
  }
}
