// Primary
$color-primary-100: #21384c;
$color-primary-200: #0367ad;
$color-primary-300: #07b2d9;
// Secondary
$color-secondary-100: #be1118;
$color-secondary-200: #e31119;
// Tertiary
$color-tertiary-100: #1e996c;
$color-tertiary-200: #7cbf83;

// Default
$color-black: #000;
$color-white: #fff;

// Grays
$color-gray-100: #131315;
$color-gray-200: #535d63;
$color-gray-300: #667078;
$color-gray-400: #7a848c;
$color-gray-500: #8e99a0;
$color-gray-600: #a3adb5;
$color-gray-700: #b9c2c9;
$color-gray-800: #e6edf2;
$color-gray-900: #f8fcff;
$color-gray-1000: #ffffff;

// Focus
$color-focus: #0171e3;

// Error
$color-error: #d22e34;

//opacity
$color-white-30: #ffffff4d;
$color-white-60: #ffffff99;
$color-black-30: #0000004d;
$color-black-60: #00000099;
